<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'login/auth.css' %}">
</head>

<body>
<div id="test" class="alert alert-info fade show" style="display: none">
    <strong>注册成功!请查收寄件人为5724924@qq.com的邮件, 按以邮件内提示激活</strong>
</div>
<div class="lowin lowin-blue">
    <div class="lowin-brand">
        <img src="{% static 'login/sb.JPG' %}" alt="logo">
    </div>
    <div class="lowin-wrapper">
        <div class="lowin-box lowin-login">
            <div class="lowin-box-inner">
                <form>
                    <p>登录以继续</p>
                    <div class="lowin-group">
                        <label>Email <a href="#" class="login-back-link">返回登录</a></label>
                        <input type="email" autocomplete="email" name="email" class="lowin-input">
                    </div>
                    <div class="lowin-group password-group">
                        <label>密码 <a href="#" class="forgot-link">忘记密码?</a></label>
                        <input type="password" name="password" autocomplete="current-password" class="lowin-input">
                    </div>
                    <button class="lowin-btn login-btn">
                        登录
                    </button>

                    <div class="text-foot">
                        还没有账号? <a href="" class="register-link">注册</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="lowin-box lowin-register">
            <div class="lowin-box-inner">
                <form>
                    <p>让我们创建个账号吧</p>
                    <div class="lowin-group">
                        <label>用户名</label>
                        <div id="nameErro" style="display: none">
                            <label style="color: lightpink;">重复了哦</label>
                        </div>
                        <input type="text" name="registerName" autocomplete="name" class="lowin-input">
                    </div>

                    <div class="lowin-group">
                        <label>Email</label>
                        <div id="emailErro" style="display: none" >
                            <label style="color: lightpink;">格式不正确哦</label>
                        </div>
                        <input type="email" autocomplete="email" name="registerEmail" class="lowin-input">
                    </div>

                    <div class="lowin-group">
                        <label>密码</label>
                        <div id="passwordErro" style="display: none">
                            <label style="color: lightpink;">长度要6到18位哦</label>
                        </div>
                            <input type="password" name="registerPassword" autocomplete="current-password" class="lowin-input">
                    </div>

                    <button class="lowin-btn" id="register">
                        注册
                    </button>

                    <div class="text-foot">
                        已有账号? <a href="" class="login-link">登录</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="lowin-footer">
        Design By <a href="https://github.com/SilenceHS">@SilenceHS</a>
    </footer>
</div>

<script src="{% static 'login/auth.js' %}"></script>
<script>

    Auth.init({
        login_url: '#login',
        forgot_url: '#forgot'
    });
    window.setTimeout(function () {
        $('#test').slideUp("slow")//slide up

    }, 2000);



</script>

<script src="https://cdn.bootcss.com/jsencrypt/3.0.0-beta.1/jsencrypt.js"></script>
<script type="text/javascript">
        //公钥
        var PUBLIC_KEY = 'MIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQB+D6XE0YI03iyftOeE5bRe' +
            'dEKinVYiYbZmAEM833FoBIfY28ZT2a1Npnb5YTS7tw2bQTpvydZwq229r53y2/jO' +
            '/VdtCjCsMtNnpSAhahCbdrbMSPkLvLrkHsZh55hX+drId74HU4oaMtk9DROdOWd2' +
            'MzBhxaA97Z3uSB1ICX4P1Xmeif2cCgUFefMFPOiWn8OgpeI+vkne5xpbGP5HT5y7' +
            'JtRsg5H9wn87MvwaRyQNH7ep7Lvt555ZBtUiKDRX5MgMmg1eVgvayibFLP7fOHHS' +
            'e+5yjnf08wsNsd/vltiCAeRhUzFe4Ux8NWz4XX3Nn6zUj8jx5wSswDnzDbv27lcJ' +
            'AgMBAAE=';
        
        //私钥
        var PRIVATE_KEY = 'MIIEowIBAAKCAQB+D6XE0YI03iyftOeE5bRedEKinVYiYbZmAEM833FoBIfY28ZT' +
            '2a1Npnb5YTS7tw2bQTpvydZwq229r53y2/jO/VdtCjCsMtNnpSAhahCbdrbMSPkL' +
            'vLrkHsZh55hX+drId74HU4oaMtk9DROdOWd2MzBhxaA97Z3uSB1ICX4P1Xmeif2c' +
            'CgUFefMFPOiWn8OgpeI+vkne5xpbGP5HT5y7JtRsg5H9wn87MvwaRyQNH7ep7Lvt' +
            '555ZBtUiKDRX5MgMmg1eVgvayibFLP7fOHHSe+5yjnf08wsNsd/vltiCAeRhUzFe' +
            '4Ux8NWz4XX3Nn6zUj8jx5wSswDnzDbv27lcJAgMBAAECggEAVeN7YjoMqNCnPrkW' +
            '9Ok8lw5HSFxCj3Jbv+t15EepEOHlXM+AtSied0Vv0kF0mGEEGD+8/OVcAbALOS4q' +
            'Q4m0X/MkWdqThv+qIffTiHCnmASuT0l4xZJ1E3AUYihVF7vYYLWU95DniyoR8RKz' +
            'xm+SGmqOEE+B+i+nZu4jZS1ygn5Ht+A/MeqkBNIJ9F/YrO/TvdOBCoYLrcuN033j' +
            '4O87Y4Pyx2fB6+OiKN9EAlo3bYidazvD3smw1maRFvIKz8AgKw9eB8T+nmfFTv0j' +
            'kTLBUMAjhFH/ZKzKr3jbsDfo4HeF6gOcs/WUd3joavGTKQARLPUsuQzAmKQzE3Zu' +
            'NM7QcQKBgQDmxIG9kIh9M32YLXYh52Su7xYvQip4savNCdjdE/qkFWLaWBseoDBQ' +
            '/EKWzQYeLoxv2MKUsIobUIpsW4gjaXXOFmammlo5dfHu6eAdRMIxbu7Gn+admUVZ' +
            'jX3f6hw2cDKSeVqUCacEHUBPDo2TvxsMkIHz27Wan29J+EmeY5bsvwKBgQCL2EQ/' +
            'e25TGcEC8z1hCpez9ACU11bwx3W23C3+Tan7UJ6VRTe16zf5SndT7qp7LDP0V5cu' +
            'cu12vZcsxlUFBNhUpKGQmaHXpiTQ04MUemNun9tJU0E0+T/ZMjYAA+Yi4avf/VX7' +
            'Vlx5JKd3d5hKOPincB4a55W8fOFTGPXHVEsGNwKBgQCiuIXTqYrU3e391HCsT4HL' +
            'aIN4J2vTV1URa5Qjr+bYtMvTsrTMz5/CO16o/0EFH0WfyHTMa/+2awBwj8pbTg3n' +
            'mBwh9k0Qn35NPVTuzoEwYky0eiQflOg10XOk5GuoZ00Bw9h+8p92YznphRWHzQXB' +
            'wlQgJBjWQv4yZoVizk6p+QKBgHfMJnrzdAlAULYERZpyBo8kAbN/3Xyagd7KM6Rc' +
            'R7eA0rkw+I6hF+w4vIxsMiMeNMumlV43GfHUbELxDDgmdGPePIGw+pHQRE2YQ/ww' +
            '9Cj6TFI+PefxdZ7MgrH0pRtQk3pofVW4H7OvkL6o9w7uSyS0yTVnGkDEAgq7oSDG' +
            'txZ1AoGBAL2GAoBwNX9Of9yTR0kuUzAgK71woQjhcRnzxA6fyxKlyrmQRCWKz0p0' +
            'LCpy80fp1aJ94Gm6D9xlb8FMJB9x7PgGv/JRJqm+FTmDCM8JSZqhC+5pKeJo5LWM' +
            'Gi1fnSi64V61IhX/YTLXf7lLcXtIyPa8TSVHqavI0kKQQlo7OT5j';
        //使用公钥加密
        var encrypt = new JSEncrypt();
		  //encrypt.setPrivateKey('-----BEGIN RSA PRIVATE KEY-----'+PRIVATE_KEY+'-----END RSA PRIVATE KEY-----');
        encrypt.setPublicKey('-----BEGIN PUBLIC KEY-----' + PUBLIC_KEY + '-----END PUBLIC KEY-----');
        var encrypted = encrypt.encrypt('sb110');
        console.log('加密后数据:%o', encrypted);
        //使用私钥解密
        var decrypt = new JSEncrypt();
		//decrypt.setPublicKey('-----BEGIN PUBLIC KEY-----' + PUBLIC_KEY + '-----END PUBLIC KEY-----');
        decrypt.setPrivateKey('-----BEGIN RSA PRIVATE KEY-----'+PRIVATE_KEY+'-----END RSA PRIVATE KEY-----');
        var uncrypted = decrypt.decrypt(encrypted);
        console.log('解密后数据:%o', uncrypted);
    </script>
<!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>
</html>