<!DOCTYPE html>
<html>
<style type="text/css">
    /* 导航栏样式 */
    #top {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        background-color: #fff;
        position: fixed;
        top: 0;
        width: 100%;
        /* 顶端固定 */
        z-index: 100;
    }

    #draggablePanelList .panel-heading {
        cursor: move;
    }

    input::-ms-input-placeholder {
        text-align: center;
    }

    input::-webkit-input-placeholder {
        text-align: center;
    }
</style>
　
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title></title>
</head>

<body id="body" style="display: none">
<div id="top">
    <div class="container-fluid">
        <div class="row">
            <input type="text" class="form-control col-8 col-md-10" placeholder="搜索问卷"/>
            <button class="btn btn-outline-success col-4 col-md-2" onclick="add()">

                新建
            </button>

        </div>
    </div>


</div>


<div class="container-fluid" id="container">
    <div class="row">
        {% for i,j,k,l,m,n,o in papers reversed%}
            <div class="card bg-light col-md-6" style="margin-bottom: 10px; box-shadow: lightgray 0px 3px 5px 0px ;">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-9"
                                 style="border:2px solid #ccc; border-top:none;border-bottom:none;border-left:none; ">
                                <h5>{{ i.name }}</h5>
                                {% if i.verify == '未发布' %}
                                    <h6 style="color: lightgrey">
                                        <text>•</text>
                                        <text>{{ i.verify }}</text>
                                    </h6>
                                {% else %}
                                    <h6>
                                        <text>•</text>
                                        <text>{{ i.verify }}</text>
                                    </h6>
                                {% endif %}
                            </div>
                            <div class="col-3" style="text-align: center;">

                                <h3>{{ o }}</h3>
                                <h6 style="font-size:15px;">答卷人数</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="background: #F8F9FA;">
                    <div class="btn-group btn-group-sm">
                        {% if i.verify == '未发布' %}
                            <button type="button" class="btn btn-outline-primary" onclick="releasePaper('{{ j }}')">发布
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="location.href='/modify/{{ k }}'">编辑
                            </button>
                            <button type="button" class="btn btn-outline-primary" disabled="disabled">分享</button>
                            <button type="button" class="btn btn-outline-primary" disabled="disabled">统计</button>
                        {% else %}
                            <button type="button" class="btn btn-outline-primary" disabled="disabled">发布</button>
                            <button type="button" class="btn btn-outline-primary" disabled="disabled">编辑</button>
                            <button type="button" class="btn btn-outline-primary" onclick="share('{{ i.url }}')">分享
                            </button>
                            <button type="button" class="btn btn-outline-primary" onclick="location.href='/summary/{{ m }}'">统计</button>

                        {% endif %}
                    </div>
                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="deletePaper('{{ n }}')"
                            style="float: right;">删除
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>


</div>

<script>
    $("#body").fadeIn('fast')
    $(function () {
        //顶部导航栏动态样式
        $("#container").css('padding-top', $("#top").height());
        var startPos = $("#container").offset().top;
        $.event.add(window, "scroll", function () {
            var p = $(window).scrollTop();
            $("#top").css('box-shadow', ((p) > startPos) ? '0 0 5px #888' : '0 0 0 #888');

        });


        var btn = document.getElementById('btn');
        var clipboard = new Clipboard(btn);
        clipboard.on('success', function (e) {
            $('#show').slideDown().delay(1500).slideUp(300);
            console.log(e);
        });


    })

    function add() {
        $("#body").fadeOut("fast")
        window.setTimeout(function () {
            $("#body").fadeIn("fast")
            window.location.href = "/add/"
        }, 300);
    }

    function deletePaper(id) {
        $.ajax({
            url: '/deletePaper/',
            type: 'post',
            dataType: 'json',
            traditional: true,//这个参数必须添加，采用传统方式转换
            data: {raw: id},
            success: function (result) {
                if (result.resultCode == 0) {
                    alert("成功")
                    window.location.href = "/user/"
                } else {
                    alert("失败")
                }
            }
        });
    }

    function releasePaper(id) {
        $.ajax({
            url: '/releasePaper/',
            type: 'post',
            dataType: 'json',
            traditional: true,//这个参数必须添加，采用传统方式转换
            data: {raw: id},
            success: function (result) {
                if (result.resultCode == 0) {
                    alert("发布成功")
                    window.location.href = "/user/"
                } else {
                    alert("失败")
                }
            }
        });
    }

    function share(url) {
        $("#url").val('http://127.0.0.1/paper/' + url)
        $("#btn").attr('data-clipboard-text', 'http://127.0.0.1/paper/' + url)
        $("#myModal").modal("show")
    }


</script>


<!-- 模态框 -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">分享问卷</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                您的问卷链接如下
                <div class="container-fluid">
                    <div class="row">
                        <input id="url" type="text" class="form-control col-10" value="" readonly="true"/>

                            <button id="btn" class="btn btn-outline-primary col-2" data-clipboard-text="sb110">复制</button>

                    </div>
                </div>
                <div id="show" style="display: none;color: dodgerblue;">已复制</div>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary col-2" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>


</body>
</html>
